.header{
    height: 60px;
    display:flex;
    background-color: black;
    color: #fffdfd;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;


}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
}

.header_anchor {
    width: 10%
}
.header_logo{
    width: 60%;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}
.search_icon{
    padding: 5px;
    height: 22px !important;
    background-color: #ec9019;
}
.header_searchInput{
    height: 12px;
    padding:10px;
    border: none;
    width: 93%;
}
.nav_option{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;

}

.loginPage {
    text-decoration: none;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;

}
.nav_optionLine1{
    font-size: 10px;
    text-decoration: none;


}


.nav_optionLine2{
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;

}

.header_basketcount{
    margin-left: 1px;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    
}
.header_basket{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;

}
